{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">

            <a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Continue Shopping</a>

            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>2</strong></h5></th>
                    <th><h5>Total:<strong>£40</strong></h5></th>
                    <th>
                        <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'home' %}">Checkout</a>
                    </th>
                </tr>
            </table>

        </div>

        <br>
        <div class="box-element cart-product">
            <!-- Header Row -->
            <div class="cart-row d-flex">
                <div class="flex-fill"></div>
                <div class="flex-fill"><strong>Item</strong></div>
                <div class="flex-fill"><strong>Price</strong></div>
                <div class="flex-fill"><strong>Quantity</strong></div>
                <div class="flex-fill"><strong>Total</strong></div>
            </div>

            <!-- Product Row -->
            <div class="cart-row d-flex align-items-center list-product">
                <div class="flex-fill">
                    <img class="row-image" style="width: 100%; max-width: 150px;" src="{% static 'images/headset-2.png' %}">
                </div>
                <div class="flex-fill"><p>Product</p></div>
                <div class="flex-fill"><p>£20</p></div>
                <div class="flex-fill">
                    <p class="quantity">2</p>
                    <div class="quantity d-flex">
                        <!--<img class="chg-quantity" src="{% static 'images/arrow_up.png' %}">
                        <img class="chg-quantity" src="{% static 'images/arrow_down.png' %}">-->
                    </div>
                </div>
                <div class="flex-fill"><p>£40</p></div>
            </div>

        </div>
</div>

{% endblock %}